body{
    background-color: white;
}
.navbar{
    margin-left: auto;
    margin-right: auto;
}
.nav-item{
    color: white;
}
.carousel-item img{
    align-content: center;
    width: 25px;
}
